/*VARIABLES*/
$footer-color:#14193E;
$color-black:#0009;
$color-blue:#14193E;
$h4-font-weight:400;
$color-white:white;
$font-size-a:16px;
$img-background-navbar:"../imagenes";
$width-100px:100px;
$width-100percentage:100%;
$color-grey:#bec4c1;

/*NAVBAR*/
nav{
    background-color: $color-blue;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: #ffffff93 0 10px 10px -10px; 
} 
nav{
    img{
        width: 80px;
    }
}
li{
    a{
        text-decoration: none;
        color: $color-white;
        font-size: 18px;
    }
}
.inicio{
    color: $color-white;
}
a:hover{
    color:$color-white;
    text-decoration: underline;
}

.fixed-menu-icon{
    right: 0;
    color: $color-white;
    padding: 10px;
    font-size: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    top: 12px;
    z-index: 101;
    position: fixed;
}

.fixed-menu-icon, .fixed-menu-icon:hover, .fixed-menu-icon{
    background-color:$color-blue;
    border: $color-blue;
}
.fa-solid{
    .fas{
        font-weight: 900;
    }
}
.fa-solid{
    font-weight: 900;
}

.offcanvas{
    background-color: $color-blue;
    color: $color-white;
}

@media screen and (max-width:767px) {
    .navbar-toggle{
        display: none !important;
    }
}

@media screen and (max-width:767px){
    .fixed-menu-icon{
        display: inline-block !important;
    }
}

@media screen and (min-width:768px){
    .fixed-menu-icon{
        display: none;
    }
}

/*MAIN*/
main{
    section{
        article{
            img{
                width: 100%;
            }
        }
    }
}

main{
    padding-top: 77px;
}

article{
    img{
        max-height: 523px;
        min-height: 100%;
    }
}

form{
    background-color: $color-grey;
}

form{
    button{
        width: 100%;
    }
}

form{
    hr{
        width: 95%;
        margin: 0;
        border-color: #0000 !important;
    }
}


.input-container{
    align-self: start;
    flex-direction: column;
    width: 100%;
}

.spacer{
    height: 10px;
}

.project-details-top{
    text-align: center;
}

button.btn.btn-outline-secondary{
    border-color: $color-white;
    color: $color-white;
}

.project-details{
    background-color: $color-blue;
    color: $color-white;
    height: 100%;
}

/*Modal*/
.modal{
    max-width: 80vw;
}
.modalImg{
    max-width: 100%;
    max-height: 100%;
}



/*FOOTER*/
footer{
    background-color: $footer-color;
    width: $width-100percentage;
    min-height: 166px;
}

h4{
    font-weight:16px;
}

div.col-4{
    color: $color-white;
}

.nosotros_label{
    font-size: 16px;
}

ul{
    list-style: none;
}