$footer-color:#14193E;
$color-black:#0009;
$h4-font-weight:400;
$color-white:white;
$font-size-a:16px;
$img-background-navbar:"../imagenes";
$width-100px:100px;
$width-100percentage:100%;

/*General*/
ul{
    list-style: none;
}
li {
    a{
        color: $color-white;
        text-decoration: none;
        font-size:18px;
    }
}

a:hover{
    color: $color-white;
    text-decoration: none;
}

#proyecto1{
    color: $color-white;
    text-decoration: none;

}

#proyecto2{
    color: $color-white;
    text-decoration: none;

}

#proyecto3{
    color: $color-white;
    text-decoration: none;

}

/*Navbar*/
.navbar{
width: $width-100percentage;
height: 506px;
background-size: cover;
background-position: center;
background-image: url(#{$img-background-navbar}/bg.png);
}

.nav-logo{
    width: $width-100px;
    height: 80px;
}

.fixed-menu-icon{
    right: 0;
    color: $color-white;
    padding: 10px;
    font-size: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    top: 12px;
    z-index: 101;
    position: fixed;
}

.fixed-menu-icon, .fixed-menu-icon:hover, .fixed-menu-icon{
    background-color: #14193E;
}

button{
    cursor: pointer;
}

.offcanvas{
    background-color: $footer-color;
    color: $color-white;
}

@media screen and (max-width:767px){
    .navbar-toggle{
        display: none !important;
    }
}

@media screen and (max-width:767px){
    .fixed-menu-icon{
        display: inline-block !important;
    }
}

@media screen and (min-width:768px){
    .fixed-menu-icon{
        display: none;
    }
}

@media screen and (max-width:575px) {
    nav.navbar{
        height: 220px;
    }
}

@media screen and (max-width:767px) {
    nav.navbar{
        height: 320px;
    }
}

@media screen and (max-width:991px) {
    nav.navbar{
        height: 420px;
    }
}

@media screen and (max-width:991px) {
    .navbar-toggle{
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (min-width:992px) {
    .navbar-toggle{
        flex: 0 0 auto;
        width: 41.67%;
    }
}


/*Body*/
h2{
    text-align: center;
}

#btnScrollTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    outline: none;
    border: none;
    cursor: pointer;
}

#btnScrollTop:active{
    background-color: #A1A5A1;

}

/*Main*/
.art-img{
    max-width: 100%;
}

main{
    article{
        a{
            text-decoration: none;
        }
    }
}

main{
    article{
        text-align: center;
    }
}

article{
    a{
        position: relative;
        bottom: 50%;
        visibility: hidden;
        color: $color-white;
        font-size: 1vw;
        background-color:$color-black;
        padding: 15px 20px;
        cursor: pointer;
    }
}

main{
    article:hover{
        filter: brightness(90%);
    }
}

main{
    article:hover{
        a{
            visibility: visible;
        }
    }
}

a:hover{
    color: $color-white;
    text-decoration: underline;
}

@media screen and (min-width:576px) {
    .container{
        max-width: 540px !important;
    }
}

@media screen and (min-width:768px) {
    .container{
        max-width: 720px !important;
    }
}

@media screen and (min-width:992px) {
    .container{
        max-width: 960px !important;
    }
}

@media screen and (min-width:1200px) {
    .container{
        max-width: 1140px !important;
    }
}

@media screen and (max-width:767px) {
    article{
        a{
            font-size: 2vw;
        }
    }
}

@media screen and (max-width:767px) {
    .mainf{
        .sectionf{
            article{
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .mainf{
        .sectionf{
            justify-content: center;
        }
    }
}

/*Footer*/
footer{
    background-color: $footer-color;
    width: $width-100percentage;
    min-height: 166px;
}

h4{
    font-weight:$h4-font-weight;
}

div.col-4{
    color: $color-white;
}

@media screen and (max-width:767px) {
    footer{
        div.row{
            div{
                width:100%;
            }
        }
    }
}